/Glancify.xcodeproj/project.xcworkspace/xcuserdata/thomas.xcuserdatad/UserInterfaceState.xcuserstate
/Podfile.lock
/Pods
/Glancify/Resources/fabric.apikey
/Glancify/Resources/fabric.buildsecret
/Glancify.xcworkspace/xcuserdata/thomas.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
/Glancify.xcworkspace/xcuserdata/thomas.xcuserdatad/UserInterfaceState.xcuserstate
/Glancify.xcworkspace/xcuserdata/thomas1.xcuserdatad/UserInterfaceState.xcuserstate
/Glancify.xcworkspace/xcuserdata/thomas1.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
/Glancify.xcodeproj/xcuserdata/thomas1.xcuserdatad/xcschemes/xcschememanagement.plist
