/Glancify.xcodeproj/project.xcworkspace/xcuserdata/thomas.xcuserdatad/UserInterfaceState.xcuserstate
/Podfile.lock
/Pods
/fabric.apikey
/fabric.buildsecret
/Glancify.xcworkspace/xcuserdata/thomas.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
/Glancify.xcworkspace/xcuserdata/thomas.xcuserdatad/UserInterfaceState.xcuserstate
